.carousel {
  padding: 0 2px;
}
ul.carousel {
  list-style: none;
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}
li.carousel {
  flex: 1 0 220px;
  margin-right: 5px;
  scroll-snap-align: center;
}
.carousel > img {
  max-width: 250px;
  height: auto;
  margin: 0;
}
