header {
  margin-bottom: 25px;
}

.tag_line {
  color: rgba(50, 119, 199, 80%);
  position: fixed;
  margin-top: -32px;
  margin-left: -15px;
  z-index: 1;
}

.item_1,
.item_2,
.item_3 {
  background-color: rgba(225, 225, 225, 100%);
  width: 305px;
  height: 50px;
  margin-left: 35px;
}
.item_3 {
  height: 75px;
  margin-bottom: 2.5rem;
}
.item_3 > p {
  padding-top: 75px;
  padding-left: 135px;
  font-style: italic;
  font-size: 70%;
  opacity: 40%;
}

.g-recaptcha {
  margin: 35px;
}
